.sign-up-div {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 20% 80%;
}

h1 {
  height: 30%;
}

.sign-up-form {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-bottom: 7px;
}

input {
  width: 100%;
}

.sign-up-submit {
  height: 2rem;
  background-color: #ff385c;
  box-shadow: 2px 2px 2px black;
}

.errors {
    color:#ff385c;
    font-weight: 400;

}
