#modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal-background {
  background-color: rgba(0, 0, 0, 0.772);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

#modal-content {
  position: absolute;
  display: grid;
  justify-content: center;
  align-items: center;
  border-radius: 20pt;
}
