.cart-div-wrapper {
  /* display: ; */
  width: 100%;
  height: 100%;
  background: url(https://cdn.discordapp.com/attachments/1088906268485357618/1120508205211070464/41593.jpg)
    no-repeat center center fixed;
  background-size: 90% 80%;
  opacity: 100%;
}
.cart-bg-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.cart-style-div {
  background-color: rgba(0, 0, 0, 0.713);
  height: 100%;
  width: 57.6rem;
}
.cart-h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: rgba(128, 99, 40, 0);
  margin: 0%;
}
.cart-div-ul {
  display: grid;
  grid-template-columns: 100%;
  /* grid-template-rows: 20% 20% 20% 20% 20%; */
  justify-content: center;
  align-items: center;
  /* width: 90%; */
  height: 34rem;
  scroll-behavior: auto;
  overflow-y: scroll;
  overflow-x: hidden;
  word-break: break-all;
}
.cart-div-li {
  display: grid;
  grid-template-columns: 23% 23% 13% 23% 13%;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40%;
  padding: 10px;
  color: white;
}
.cart-div-quantity-wrapper {
  display: grid;
  grid-template-columns: 20% 20% 20%;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.cart-div-quantity-update {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cart-div-quantity-total {
  display: flex;
  justify-self: center;
  align-items: center;
}
.cart-div-quantity-delete {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cart-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 6rem;
  color: white;
  background-color: rgba(128, 99, 40, 0);
}
.checkout {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
}

/* Checkout Modal */
.checkout-div-wrapper {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-rows: 20% 10% 20%;
  height: 100%;
  width: 100%;
  padding: 10px 10px 10px 10px;
  /* background-color: rgba(141, 70, 4, 0.286); */
  background: url(https://cdn.discordapp.com/attachments/1088906268485357618/1122402397197697044/1390893.jpg)
    no-repeat center center fixed;
  background-size: 90% 100%;
  color: white;
}
.checkout-p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
}
.checkout-button-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  column-gap: 10px;
}

.checkout-button-cancel {
  border-radius: 70px;
  height: 2rem;
  width: 7rem;
}

.checkout-button-submit {
  border-radius: 70px;
  height: 2rem;
  width: 7rem;
}
.checkout-button-submit:hover {
  border-radius: 70px;
  box-shadow: 2px 1px 3px black;
  background-color: rgba(0, 128, 0, 0.642);
}

.checkout-button-cancel:hover {
  border-radius: 70px;
  background-color: rgba(255, 0, 0, 0.719);
  box-shadow: 2px 1px 3px black;
}
