/* Index */
.detail-wrapper {
  display: grid;
  grid-template-columns: 100%;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.detail-img {
  /* background-color: aqua; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 15rem; */
  /* width: 15rem; */
  /* border-radius: 50%; */
  /* background-color: rgba(128, 98, 40, 0.461); */
  /* background-color: rgba(5, 4, 2, 0.576); */
}
.detail-img p {
  /* background-color: aqua; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20rem;
  width: 20rem;
  border-radius: 50%;
  /* background-color: rgba(0, 0, 0, 0.494); */
}
.detail-div-header {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  /* background-color: rgba(5, 4, 2, 0.576); */
  /* background-color: rgba(128, 98, 40, 0.461); */
}
.detail-description {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20rem;
  color: white;
  /* background-color: rgba(5, 4, 2, 0.576); */
  /* width: 90%; */
}
.detail-p {
  font-family: "Fredericka the Great", cursive;
  display: flex;
  justify-self: center;
  align-items: center;
  width: 60%;
  height: 5rem;
  font-size: 1.7rem;
}

.detail-h1 {
  font-family: "Fredericka the Great", cursive;
  border-bottom: solid 3px white;
  font-size: 2.3rem;
}
/* .detail-h2 {
} */
.detail-div-component {
  display: grid;
  grid-template-columns: 100%;
  justify-content: center;
  align-items: center;
}

/* .component-button2 {
  display: flex;
  justify-content: center;
  align-items: center;
} */
/* Detailed item */
.coffee-detail-wrapper {
}

.coffee-detail-button-switch {
}

.coffee-detail-ul {
}
/* Reviews */

/* POST */
.review-post-wrapper {
  display: grid;
  height: 100%;
  justify-content: center;
  align-items: center;
  /* background-color: rgba(128, 98, 40, 0.461); */
  background: url(https://cdn.discordapp.com/attachments/1088906268485357618/1122402397197697044/1390893.jpg)
  no-repeat center center fixed;
background-size: 90% 100%;
}
.review-post-form {
  display: grid;
  height: 90%;
  width: 20rem;
  row-gap: 10px;
}
.review-post-input {
  display: grid;
  height: 30%;
  width: 100%;
}
.review-post-textarea {
  display: grid;
  height: 10rem;
  width: 100%;
}
.review-post-div-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  column-gap: 10px;
}
.review-post-div-buttons button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.post-submit {
  border-radius: 70px;
  box-shadow: 2px 1px 3px black;
}
.post-submit:hover {
  border-radius: 70px;
  box-shadow: 2px 1px 3px black;
  background-color: rgba(255, 0, 0, 0.719);
}
.post-cancel {
  border-radius: 70px;
  box-shadow: 2px 1px 3px black;
}
.post-cancel:hover {
  border-radius: 70px;
  background-color: rgba(0, 128, 0, 0.642);
  box-shadow: 2px 1px 3px black;
}
.character-counter {
  display: flex;
  justify-content: end;
  font-size: 70%;
}
/* UPDATE */

.review-update-wrapper {
  display: grid;
  height: 100%;
  justify-content: center;
  align-items: center;
  /* background-color: rgba(128, 98, 40, 0.461); */
  background: url(https://cdn.discordapp.com/attachments/1088906268485357618/1122402397197697044/1390893.jpg)
  no-repeat center center fixed;
background-size: 90% 100%;
}
.review-update-form {
  display: grid;
  height: 90%;
  width: 20rem;
  /* row-gap: 10px; */
}
.review-update-input {
  display: grid;
  height: 30%;
  width: 100%;
}
.review-update-textarea {
  display: grid;
  height: 10rem;
  width: 100%;
}
.review-update-div-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  column-gap: 10px;
}
.review-update-div-buttons button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
/* DELETEs */
.delete-Modal-div {
  display: grid;
  grid-template-rows: 50% 10% 10%;
  align-items: center;
  justify-content: center;
  margin: 5%;
  height: 90%;
  /* background-color: rgba(128, 98, 40, 0.461); */
  background: url(https://cdn.discordapp.com/attachments/1088906268485357618/1122402397197697044/1390893.jpg)
  no-repeat center center fixed;
background-size: 90% 100%;
}
.delete-h1 {
  margin: 5%;
}
.review-delete-div-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  column-gap: 10px;
}
.delete-submit {
  border-radius: 70px;
  height: 2rem;
  width: 4rem;
}
.delete-cancel {
  border-radius: 70px;
  height: 2rem;
  width: 4rem;
}
.delete-submit:hover {
  border-radius: 70px;
  box-shadow: 2px 1px 3px black;
  background-color: rgba(255, 0, 0, 0.719);
}

.delete-cancel:hover {
  border-radius: 70px;
  background-color: rgba(0, 128, 0, 0.642);
  box-shadow: 2px 1px 3px black;
}
