.coffee-detail-wrapper {
  border-bottom: solid 1px black;

  display: grid;
  justify-content: center;
  align-items: center;
  height: fit-content;
  padding: 30px;
}
.coffee-detail-button-switch {
  display: grid;
  align-items: center;
  height: 4rem;
  padding: 10px;
  border-bottom: solid 1px black;
}
.coffee-detail-button-switch button {
  height: 3rem;
  width: 10rem;
  color: white;
  background-color: var(--div-color);
  border-radius: 20pt;
  cursor: pointer;
}
.coffee-detail-div-ul-wrapper {
  display: grid;
  align-items: center;
  height: 50rem;
  overflow: scroll;
}
.coffee-detail-ul {
  display: grid;
  align-items: center;
  height: fit-content;
  row-gap: 30px;
}
.detail-img {
  display: grid;
  justify-self: center;
  align-items: center;
  padding: 20px;
}
.butn-delete button {
  height: 2rem;
  width: 10rem;
  border-radius: 20pt;
}
.coffee-detail-div-profile {
  display: grid;
  grid-template-columns: 5rem 30%;
  align-items: center;
}
.coffee-detail-div {
  display: grid;
  align-items: center;
  font-size: 30px;
  padding: 10px;
  color: white;
  background-color: var(--div-color);
  border-radius: 20pt;
}
.coffee-detail-div p {
  font-size: 30px;
}
.review-user-img {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
}
@media screen and (min-width: 1024px) {
  .coffee-detail-wrapper {
    border-bottom: solid 1px black;

    display: grid;
    justify-content: center;
    align-items: center;
    height: fit-content;
    padding: 30px;
  }
  .coffee-detail-button-switch {
    display: grid;
    align-items: center;
    height: 4rem;
    padding: 10px;
    border-bottom: solid 1px black;
  }
  .coffee-detail-button-switch button {
    height: 3rem;
    width: 10rem;
    color: white;
    background-color: var(--div-color);
    border-radius: 20pt;
    cursor: pointer;
  }
  .coffee-detail-div-ul-wrapper {
    display: grid;
    align-items: center;
    height: 50rem;
    overflow: scroll;
  }
  .coffee-detail-ul {
    display: grid;
    align-items: center;
    height: fit-content;
    row-gap: 30px;
  }
  .detail-img {
    display: grid;
    justify-self: center;
    align-items: center;
    padding: 20px;
  }
  .butn-delete button {
    height: 2rem;
    width: 10rem;
    border-radius: 20pt;
  }
  .coffee-detail-div-profile {
    display: grid;
    grid-template-columns: 5rem 30%;
    align-items: center;
  }
  .coffee-detail-div {
    display: grid;
    align-items: center;
    font-size: 30px;
    padding: 10px;
    color: white;
    background-color: var(--div-color);
    border-radius: 20pt;
  }
  .coffee-detail-div p {
    font-size: 30px;
  }
  .review-user-img {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
  }
}

/* POST REVIEW */
.review-post-wrapper {
  background: url(https://freeawsbucket.s3.us-west-1.amazonaws.com/coffee_seeders/4k_coffee_beans.jpg);
  background-size: cover;
  height: 30rem;
  width: 50rem;
  display: grid;
  justify-content: center;
  align-items: center;
  border-radius: 20pt;
}
.review-post-div {
  background-color: var(--modal-bg);
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 30px;
  border-radius: 20pt;
  row-gap: 20px;
  width: 35rem;
  color: white;
}
.review-post-p {
  display: grid;
  justify-content: center;
  margin: 0px;
  padding: 10px;
  font-size: 1.5rem;
}
.review-post-form {
  display: grid;
  justify-content: center;
  align-items: center;
  margin: 0px;
}
.review-post-div-wrapper {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 15% 75%;
  column-gap: 20px;
  margin: 0px;
  padding: 10px;
  width: 27rem;
}
.review-post-input {
  border-radius: 5pt;
  display: grid;
  justify-content: center;
  align-items: center;
  height: 2rem;
}
.character-counter {
  margin: 0px;
  display: grid;
  justify-content: end;
  color: gray;
  display: grid;
  align-items: center;
  font-size: 0.8rem;
}
.character-errors {
  margin: 0px;
  display: grid;
  justify-content: center;
  align-items: center;
  color: rgba(255, 0, 0, 0.757);
}
.review-post-textarea {
  border-radius: 5pt;
  display: grid;
  justify-content: center;
  align-items: center;
  height: 5rem;
  resize: none;
}
.review-post-div-buttons {
  display: grid;
  grid-template-columns: 50% 50%;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.post-submit {
  border-radius: 20pt;
  display: grid;
  justify-content: center;
  align-items: center;
  width: 8rem;
  height: 2rem;
  font-weight: bolder;
  font-size: 1rem;
  cursor: pointer;
}
.post-cancel {
  border-radius: 20pt;
  display: grid;
  justify-content: center;
  align-items: center;
  width: 8rem;
  height: 2rem;
  font-weight: bolder;
  font-size: 1rem;
  cursor: pointer;
}
.bttn-div {
  display: grid;
  justify-content: center;
  align-items: center;
}
/* UPDATE REVIEW */
.review-update-wrapper {
  background: url(https://freeawsbucket.s3.us-west-1.amazonaws.com/coffee_seeders/4k_coffee_beans.jpg);
  background-size: cover;
  height: 30rem;
  width: 45rem;
  display: grid;
  justify-content: center;
  align-items: center;
  border-radius: 20pt;
}
.review-update-div-container {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 35rem;
  height: 20rem;
  background-color: var(--modal-bg);
  border-radius: 20pt;
}
.update-div {
  display: grid;
  justify-content: center;
  align-items: center;
  color: white;
  grid-template-rows: 20% 80%;
}
.review-update-p {
  display: grid;
  justify-content: center;
  font-size: 2rem;
  margin: 0px;
}
.review-update-form {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 30rem;
  height: 15rem;
}
.review-update-div-wrapper {
  grid-template-columns: 20% 80%;
  display: grid;
  justify-content: center;
  align-items: center;
}
.review-update-input {
  border-radius: 5pt;
  height: 2rem;
  width: 20rem;
  display: grid;
  justify-content: center;
  align-items: center;
}
.character-counter {
  display: grid;
  justify-content: end;
  color: gray;
  display: grid;
  align-items: center;
}
.character-errors {
  display: grid;
  justify-content: center;
  align-items: center;
  color: rgba(255, 0, 0, 0.757);
}
.review-update-textarea {
  border-radius: 5pt;
  height: 4rem;
  width: 20rem;
  resize: none;
  display: grid;
  justify-content: center;
  align-items: center;
}
.review-update-div-buttons {
  display: grid;
  grid-template-columns: 50% 50%;
  justify-content: center;
  align-items: center;
}
.update-submit {
  border-radius: 20pt;
  display: grid;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.update-cancel {
  border-radius: 20pt;
  display: grid;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.bttn-update-div {
  display: grid;
  justify-content: center;
  align-items: center;
}
/* DELETE REVIEW */
.delete-Modal-div {
  display: grid;
  justify-content: center;
  align-items: center;
  background: url(https://freeawsbucket.s3.us-west-1.amazonaws.com/coffee_seeders/4k_coffee_beans.jpg);
  background-size: cover;
  height: 25rem;
  width: 45rem;
  border-radius: 20pt;
}
.delete-div {
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: var(--modal-bg);
  border-radius: 20pt;
  padding: 30px;
  row-gap: 40px;
  color: white;
}
.delete-h1 {
  display: grid;
  justify-content: center;
  align-items: center;
}
.review-delete-div-buttons {
  display: grid;
  grid-template-columns: 50% 50%;
  justify-content: center;
  align-items: center;
}
.delete-butt-div {
  display: grid;
  justify-content: center;
  align-items: center;
}
.delete-cancel {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 2rem;
  width: 7rem;
  border-radius: 20pt;
  cursor: pointer;
}
.delete-submit {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 2rem;
  width: 7rem;
  border-radius: 20pt;
  cursor: pointer;
}
