.landingPage-wrapper {
  /* border: solid 1px rgb(99, 65, 95); */
  display: grid;
  justify-content: center;
  align-items: center;
  height: fit-content;
  background: url("https://freeawsbucket.s3.us-west-1.amazonaws.com/coffee_seeders/4k_coffee_beans.jpg");
  background-size: cover;
}

.landingPage-div-h1 {
  /* border: solid 1px rgb(105, 170, 210); */
  /* background-color: #dc9e82; */
  display: grid;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.mega-div-ul-wrapper {
  /* border: solid 1px rgb(157, 203, 20); */
  display: grid;
  justify-content: center;
  align-items: center;
  width: 100rem;
}

.landingPage-ul {
  /* border: solid 1px rgb(122, 7, 112); */
  width: 59rem;
  height: 28rem;
}

/* Carousel */
.carousel-root {
  outline: none;
}
.carousel.carousel-slider {
  position: relative;
  margin: 0;
  overflow: hidden;
}
.landingPage-carousel {
  height: rem;
  /* border: solid 1px rgb(122, 7, 112); */
}
.carousel {
  position: relative;
  width: 100%;
  height: 100%;
}
.carousel .control-dots {
  position: absolute;
  bottom: 0;
  margin: 10px 0;
  padding: 0;
  text-align: center;
  width: 100%;
  z-index: 0;
}
.slide {
  display: grid;
  height: 10rem;
}
.carousel .control-dots .dot {
  transition: opacity 0.25s ease-in;
  opacity: 0.3;
  filter: alpha(opacity=30);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.9);
  background: #fff;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  cursor: pointer;
  display: inline-block;
  margin: 0 8px;
}
.carousel.carousel-slider .control-arrow {
  top: 0;
  color: #fff;
  font-size: 26px;
  bottom: 0;
  margin-top: 0;
  padding: 5px;
}
.carousel .control-prev.control-arrow {
  left: 0;
}
.carousel .control-arrow,
.carousel.carousel-slider .control-arrow {
  transition: all 0.25s ease-in;
  opacity: 0.4;
  filter: alpha(opacity=40);
  position: absolute;
  z-index: 2;
  top: 20px;
  background: none;
  border: 0;
  font-size: 32px;
  cursor: pointer;
}
.carousel .control-arrow {
  outline: 0;
  border: 0;
  background: none;
  top: 50%;
  margin-top: -13px;
  font-size: 18px;
}
.carousel * {
  box-sizing: border-box;
}
.carousel .slider-wrapper {
  overflow: hidden;
  margin: auto;
  width: 100%;
  transition: height 0.15s ease-in;
}
.carousel.carousel-slider .control-arrow {
  top: 0;
  color: #fff;
  font-size: 26px;
  bottom: 0;
  margin-top: 0;
  padding: 5px;
}
.carousel .control-next.control-arrow {
  right: 0;
}
.carousel .control-disabled.control-arrow {
  opacity: 0;
  filter: alpha(opacity=0);
  cursor: inherit;
  display: none;
}
.carousel .slider-wrapper.axis-horizontal .slider {
  display: flex;
  height: 40rem;
  width: 60rem;
  align-items: flex-start;
}
.thumbs .animated {
  height: 10rem;
  cursor: pointer;
}
.thumbs {
  cursor: pointer;
}
.carousel {
  position: relative;
  width: 100%;
  height: 100%;
}
.carousel .thumbs-wrapper {
  margin: 20px;
  overflow: hidden;
  background-color: #a4121200;
}
.slide .Latte {
  display: block;
  height: 40rem;
  width: 10rem;
}
.slide .Macchiato {
  display: block;
  height: 40rem;
  width: 10rem;
}
.slide .Irish {
  display: block;
  height: 40rem;
  width: 10rem;
}
.Latte {
  display: block;
  height: 3rem;
  width: 10rem;
}
.Macchiato {
  display: block;
  height: 3rem;
  width: 10rem;
}
.Irish {
  display: block;
  height: 3rem;
  width: 10rem;
}
/* List Elements */
/* .item-modal-li-div {
  border: solid 1px black;
  height: 16rem;
}z */
.item-modal-li {
  /* border: solid 1px rgb(65, 60, 98); */
  height: 100%;
  width: 100%;
}
.coffee-img-carousel img {
  /* background-color: rgba(255, 255, 255, 0); */
  display: block;
  margin: auto;
  width: 50%;
}
.coffee-div-img {
  display: grid;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.coffee-div-img button {
  height: 2rem;
  width: 7rem;
  border-radius: 20pt;
}
.coffee-img {
  /* border: solid 1px red; */
  height: 100%;
  width: 100%;
}
.coffee-div-img-wrapper {
  display: grid;
  background-color: rgba(0, 0, 0, 0.878);
  grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
  justify-content: center;
  align-items: center;
  height: 3rem;
  padding: 20px;
  border-radius: 20pt;
}
.coffee-div-img-wrapper button {
  cursor: pointer;
}
/* .landingPage-cart-div-wrapper {

} */
/* bottom half */
.landing-page-info-wrapper {
  display: grid;
  grid-template-columns: 50% 50%;
  justify-content: center;
  align-items: center;
  /* background-color: var(--bg-color); */
  height: fit-content;
  width: 100rem;
  /* border: solid 2px black; */
}
.landing-page-info- {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 60rem;
  padding: 20px;
}
.landing-page-info-div {
  display: grid;
  justify-content: center;
  align-items: center;
  /* height: 20rem; */
  width: 40rem;
  padding: 20px;
}
.landing-page-info-div-p {
  display: grid;
  font-size: 27px;
  height: fit-content;
  width: fit-content;
}
.landing-page-info-div-1 {
  background-color: rgba(0, 0, 0, 0.878);
  display: grid;
  color: white;
  justify-content: center;
  align-items: center;
  height: fit-content;
  width: 40rem;
  padding: 20px;
  border-radius: 20pt;
}
.landing-page-info-div-4 {
  background-color: rgba(0, 0, 0, 0.878);
  display: grid;
  grid-template-columns: 50% 50%;
  justify-content: center;
  align-items: center;
  height: 20rem;
  width: 30rem;
  border-radius: 20pt;
}
#links-wrapper {
  color: white;
  display: grid;
  grid-template-columns: 50% 50%;
  height: 18rem;
  width: 35rem;
  padding: 20px;
  font-size: 30px;
}
.dev-links {
  display: grid;
  grid-template-rows: 30% 30%;
  text-decoration: none;
  font-size: 30px;
  color: white;
  row-gap: 10px;
}
.dev-links a {
  color: white;
  text-decoration: none;
  font-size: 30px;
}

/* modal */
.landingPage-cart-div-wrapper {
  background: url(https://freeawsbucket.s3.us-west-1.amazonaws.com/coffee_seeders/4k_coffee_beans.jpg);
  background-size: cover;
  display: grid;
  justify-self: center;
  align-items: center;
  height: -moz-fit-content;
  height: fit-content;
  height: 35rem;
  width: 55rem;
  border-radius: 20pt;
  padding: 30px;
}
.modal-center-div {
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 30px;
}
.modal-center-div1 {
  background-color: var(--modal-bg);
  display: grid;
  justify-content: center;
  align-items: center;
  height: 30rem;
  width: 50rem;
  border-radius: 20pt;
  color: white;
}
.landing-page-modal-info {
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 20px;
}
.coffee-default-state {
  font-size: 10px;
}
.landingPage-coffee-div {
  display: grid;
  justify-content: center;
  align-items: center;
}
.landingPage-coffee-price {
  display: grid;
  justify-content: center;
  align-items: center;
}
.landingPage-loggedIn-function {
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 20px;
}
.nav-to-coffee {
  display: grid;
  justify-content: center;
  align-items: center;
  text-decoration: underline;
  cursor: pointer;
}
.landingPage-cart-div-quantity-post {
  display: grid;
  justify-content: center;
  align-items: center;
  border-radius: 20pt;
  font-size: 1rem;
  height: 2.3rem;
  width: 10rem;
  cursor: pointer;
}
.landingPage-cart-div-quantity-post {
  cursor: pointer;
}
.landing-page-info-div img {
  display: grid;
  justify-self: center;
  align-items: center;
  height: 30rem;
  border-radius: 20pt;
  width: 30rem;
}
.landingPage-cart-div-quantity-wrapper1 {
  display: grid;
  justify-content: center;
  align-items: center;
  row-gap: 30px;
}
.wrapper1-button {
  display: grid;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 2560px) {
  .landingPage-div-h1 {
    width: 100rem;
  }
  .landing-page-info-div img {
    display: grid;
    justify-self: center;
    align-items: center;
    height: 25rem;
    width: 25rem;
  }
}
@media screen and (max-width: 1600px) {
  .landingPage-wrapper {
    /* border: solid 1px rgb(99, 65, 95); */
    display: grid;
    justify-content: center;
    align-items: center;
    height: fit-content;
  }
  .mega-div-ul-wrapper {
    /* border: solid 1px rgb(157, 203, 20); */
    display: grid;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .landing-page-info-wrapper {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
    align-items: center;
    /* background-color: var(--bg-color); */
    height: -moz-fit-content;
    height: fit-content;
    width: 100%;
    /* border: solid 2px black; */
  }
  .landing-page-info-div {
    /* border: solid 1px rgb(105, 170, 210); */
    display: grid;
    justify-content: center;
    align-items: center;
    /* height: 20rem; */
    width: 10rem;
    padding: 20px;
  }
  .landing-page-info-div-p {
    /* border: solid 1px rgb(105, 170, 210); */
    display: grid;
    font-size: 15px;
    /* height: fit-content; */
    /* width: fit-content; */
  }
  .landing-page-info-div-1 {
    /* background-color: rgb(67, 125, 161); */
    display: grid;
    justify-content: center;
    align-items: center;
    /* height: fit-content; */
    width: 20rem;
    /* padding: 20px; */
  }
  .landing-page-info-div-4 {
    /* background-color: rgb(67, 125, 161); */
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
    align-items: center;
    /* height: 20rem; */
    width: 30rem;
    padding: 0px;
  }
  #links-wrapper {
    /* border: solid 1px rgb(105, 170, 210); */
    display: grid;
    grid-template-columns: none;
    /* height: 18rem; */
    height: 100%;
    width: 15rem;
    /* font-size: 7px; */
  }
  .dev-links {
    /* border: solid 1px rgb(105, 170, 210); */
    display: grid;
    /* justify-content: center; */
    /* align-items: center; */
    /* grid-template-rows: 30% 30%; */
    color: black;
    text-decoration: none;
    font-size: 7px;
    height: 100%;
  }
  .dev-links a {
    display: grid;
    justify-self: center;
    align-items: center;
    grid-template-columns: 50% 50%;
    color: black;

    text-decoration: none;
    font-size: 30px;
    width: 100%;
    height: 100%;
  }
  .landing-page-info-div img {
    display: grid;
    justify-self: center;
    align-items: center;
    height: 25rem;
    width: 25rem;
  }
}
@media screen and (max-width: 1440px) {
  .landingPage-wrapper {
    /* border: solid 1px rgb(99, 65, 95); */
    display: grid;
    justify-content: center;
    align-items: center;
    height: fit-content;
  }
  .mega-div-ul-wrapper {
    /* border: solid 1px rgb(157, 203, 20); */
    display: grid;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .landing-page-info-wrapper {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
    align-items: center;
    /* background-color: var(--bg-color); */
    height: -moz-fit-content;
    height: fit-content;
    width: 100%;
    /* border: solid 2px black; */
  }
  .landing-page-info-div {
    /* border: solid 1px rgb(105, 170, 210); */
    display: grid;
    justify-content: center;
    align-items: center;
    /* height: 20rem; */
    width: 10rem;
    padding: 20px;
  }
  .landing-page-info-div-p {
    /* border: solid 1px rgb(105, 170, 210); */
    display: grid;
    font-size: 15px;
    /* height: fit-content; */
    /* width: fit-content; */
  }
  .landing-page-info-div-1 {
    /* background-color: rgb(67, 125, 161); */
    display: grid;
    justify-content: center;
    align-items: center;
    /* height: fit-content; */
    width: 20rem;
    /* padding: 20px; */
  }
  .landing-page-info-div-4 {
    /* background-color: rgb(67, 125, 161); */
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
    align-items: center;
    /* height: 20rem; */
    width: 30rem;
    padding: 0px;
  }
  #links-wrapper {
    /* border: solid 1px rgb(105, 170, 210); */
    display: grid;
    grid-template-columns: none;
    /* height: 18rem; */
    height: 100%;
    width: 15rem;
    /* font-size: 7px; */
  }
  .dev-links {
    /* border: solid 1px rgb(105, 170, 210); */
    display: grid;
    /* justify-content: center; */
    /* align-items: center; */
    /* grid-template-rows: 30% 30%; */
    text-decoration: none;
    font-size: 7px;
    height: 100%;
  }
  .dev-links a {
    display: grid;
    justify-self: center;
    align-items: center;
    grid-template-columns: 50% 50%;
    color: white;

    text-decoration: none;
    font-size: 30px;
    width: 100%;
    height: 100%;
  }
  .landingPage-cart-div-wrapper {
    background-color: var(--modal-bg);
    display: grid;
    justify-self: center;
    align-items: center;
    /* width: 40rem; */
    height: fit-content;
    border-radius: 20pt;
  }
  .landing-page-info-div img {
    display: grid;
    justify-self: center;
    align-items: center;
    height: 25rem;
    width: 25rem;
  }
}
@media screen and (max-width: 1200px) {
  /* landing */
  .landingPage-wrapper {
    /* border: solid 1px rgb(99, 65, 95); */
    display: grid;
    justify-content: center;
    align-items: center;
    height: fit-content;
  }
  .landingPage-div-h1 {
    /* border: solid 1px rgb(105, 170, 210); */
    /* background-color: #dc9e82; */
    display: grid;
    justify-content: center;
    align-items: center;
  }
  .mega-div-ul-wrapper {
    /* border: solid 1px rgb(157, 203, 20); */
    display: grid;
    justify-content: center;
    align-items: center;
    /* width: 100rem; */
  }
  .coffee-div-img-wrapper {
    /* border: solid 1px rgb(105, 170, 210); */
    display: grid;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    justify-content: center;
    align-items: center;
    height: 3rem;
    padding: 20px;
  }
  .landing-page-info-wrapper {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
    align-items: center;
    /* background-color: var(--bg-color); */
    height: fit-content;
    /* width: 75%; */
    /* border: solid 2px black; */
  }
  .coffee-div-img button {
    height: 2rem;
    width: 5rem;
    border-radius: 20pt;
    font-size: 9px;
    font-weight: bold;
  }
  .landing-page-info- {
    /* border: solid 1px rgb(105, 170, 210); */
    display: grid;
    justify-content: center;
    align-items: center;
    /* height: 20rem;
    padding: 20px; */
  }
  .landing-page-info-div {
    /* border: solid 1px rgb(105, 170, 210); */
    display: grid;
    justify-content: center;
    align-items: center;
    /* height: 20rem; */
    width: 10rem;
    padding: 20px;
  }
  .landing-page-info-div-p {
    /* border: solid 1px rgb(105, 170, 210); */
    display: grid;
    font-size: 18px;
    /* height: fit-content; */
    /* width: fit-content; */
  }
  .landing-page-info-div-1 {
    /* background-color: rgb(67, 125, 161); */
    display: grid;
    justify-content: center;
    align-items: center;
    /* height: fit-content; */
    width: 20rem;
    /* padding: 20px; */
  }
  .landing-page-info-div-4 {
    /* background-color: rgb(67, 125, 161); */
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
    align-items: center;
    /* height: 20rem; */
    width: 30rem;
    padding: 0px;
  }
  #links-wrapper {
    /* border: solid 1px rgb(105, 170, 210); */
    display: grid;
    grid-template-columns: none;
    /* height: 18rem; */
    height: 100%;
    width: 15rem;
    /* font-size: 7px; */
  }
  .dev-links {
    /* border: solid 1px rgb(105, 170, 210); */
    display: grid;
    /* justify-content: center; */
    /* align-items: center; */
    /* grid-template-rows: 30% 30%; */
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 7px;
    height: 100%;
  }
  .dev-links a {
    display: grid;
    justify-self: center;
    align-items: center;
    grid-template-columns: 50% 50%;
    color: rgb(255, 255, 255);

    text-decoration: none;
    font-size: 30px;
    width: 100%;
    height: 100%;
  }
  .landing-page-info-div img {
    display: grid;
    justify-self: center;
    align-items: center;
    height: 25rem;
    width: 25rem;
  }
}

@media screen and (min-width: 1024px) {
  /* landing */
  .landingPage-wrapper {
    /* border: solid 1px rgb(99, 65, 95); */
    display: grid;
    justify-content: center;
    align-items: center;
    height: fit-content;
  }
  .landingPage-div-h1 {
    /* border: solid 1px rgb(105, 170, 210); */
    /* background-color: #dc9e82; */
    display: grid;
    justify-content: center;
    align-items: center;
  }
  .mega-div-ul-wrapper {
    /* border: solid 1px rgb(157, 203, 20); */
    display: grid;
    justify-content: center;
    align-items: center;
    /* width: 100rem; */
  }
  .coffee-div-img-wrapper {
    /* border: solid 1px rgb(105, 170, 210); */
    display: grid;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    justify-content: center;
    align-items: center;
    height: 3rem;
    padding: 20px;
  }
  .landing-page-info-wrapper {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
    align-items: center;
    /* background-color: var(--bg-color); */
    height: fit-content;
    /* width: 75%; */
    /* border: solid 2px black; */
  }
  .coffee-div-img button {
    height: 2rem;
    width: 5rem;
    border-radius: 20pt;
    font-size: 9px;
    font-weight: bold;
  }
  .landing-page-info- {
    /* border: solid 1px rgb(105, 170, 210); */
    display: grid;
    justify-content: center;
    align-items: center;
    /* height: 20rem;
    padding: 20px; */
  }
  .landing-page-info-div {
    /* border: solid 1px rgb(105, 170, 210); */
    display: grid;
    justify-content: center;
    align-items: center;
    /* height: 20rem; */
    width: 27rem;
    padding: 20px;
  }
  .landing-page-info-div-p {
    /* border: solid 1px rgb(105, 170, 210); */
    display: grid;
    font-size: 18px;
    /* height: fit-content; */
    /* width: fit-content; */
  }
  .landing-page-info-div-1 {
    /* background-color: rgb(67, 125, 161); */
    display: grid;
    justify-content: center;
    align-items: center;
    /* height: fit-content; */
    width: 20rem;
    /* padding: 20px; */
  }
  .landing-page-info-div-4 {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
    align-items: center;
    height: 17rem;
    width: 30rem;
    color: white;
    padding: 0px;
  }
  #links-wrapper {
    color: white;
    display: grid;
    grid-template-columns: none;
    height: 100%;
    width: 15rem;
  }
  .dev-links {
    color: white;
    display: grid;
    text-decoration: none;
    font-size: 7px;
    height: 100%;
  }
  .dev-links a {
    display: grid;
    justify-self: center;
    align-items: center;
    grid-template-columns: 50% 50%;

    color: white;
    text-decoration: none;
    font-size: 30px;
    width: 100%;
    height: 100%;
  }
  .landing-page-info-div img {
    display: grid;
    justify-self: center;
    align-items: center;
    height: 25rem;
    width: 25rem;
  }
}

@media screen and (max-width: 1023px) {
  /* landing */
  .landingPage-wrapper {
    /* border: solid 1px rgb(99, 65, 95); */
    display: grid;
    justify-content: center;
    align-items: center;
    height: fit-content;
  }
  .landingPage-div-h1 {
    /* border: solid 1px rgb(105, 170, 210); */
    /* background-color: #dc9e82; */
    display: grid;
    justify-content: center;
    align-items: center;
  }
  .mega-div-ul-wrapper {
    /* border: solid 1px rgb(157, 203, 20); */
    display: grid;
    justify-content: center;
    align-items: center;
    /* width: 100rem; */
  }
  .coffee-div-img-wrapper {
    /* border: solid 1px rgb(105, 170, 210); */
    display: grid;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    justify-content: center;
    align-items: center;
    height: 3rem;
    padding: 10px;
  }
  .landing-page-info-wrapper {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
    align-items: center;
    /* background-color: var(--bg-color); */
    height: fit-content;
    /* width: 75%; */
    /* border: solid 2px black; */
  }
  .coffee-div-img button {
    height: 2rem;
    width: 5rem;
    border-radius: 20pt;
    font-size: 9px;
    font-weight: bold;
  }
  .landing-page-info- {
    /* border: solid 1px rgb(105, 170, 210); */
    display: grid;
    justify-content: center;
    align-items: center;
    /* height: 20rem;
    padding: 20px; */
  }
  .landing-page-info-div {
    /* border: solid 1px rgb(105, 170, 210); */
    display: grid;
    justify-content: center;
    align-items: center;
    /* height: 20rem; */
    width: 27rem;
    padding: 20px;
  }
  .landing-page-info-div-p {
    /* border: solid 1px rgb(105, 170, 210); */
    display: grid;
    font-size: 18px;
    /* height: fit-content; */
    /* width: fit-content; */
  }
  .landing-page-info-div-1 {
    /* background-color: rgb(67, 125, 161); */
    display: grid;
    justify-content: center;
    align-items: center;
    /* height: fit-content; */
    width: 20rem;
    /* padding: 20px; */
  }
  .landing-page-info-div-4 {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
    align-items: center;
    height: 17rem;
    width: 28rem;
    color: white;
    padding: 0px;
  }
  #links-wrapper {
    color: white;
    display: grid;
    grid-template-columns: none;
    height: 100%;
    width: 15rem;
  }
  .dev-links {
    color: white;
    display: grid;
    text-decoration: none;
    font-size: 7px;
    height: 100%;
  }
  .dev-links a {
    display: grid;
    justify-self: center;
    align-items: center;
    grid-template-columns: 50% 50%;

    color: white;
    text-decoration: none;
    font-size: 30px;
    width: 100%;
    height: 100%;
  }
  .landing-page-info-div img {
    display: grid;
    justify-self: center;
    align-items: center;
    height: 25rem;
    width: 25rem;
  }
}
@media screen and (max-width: 768px) {
  .landing-page-info-div {
    /* border: solid 1px rgb(105, 170, 210); */
    display: grid;
    justify-content: center;
    align-items: center;
    /* height: 20rem; */
    width: 25rem;
    padding: 20px;
  }
  .landing-page-info-div-img {
    display: grid;
    justify-self: center;
    align-items: center;
    height: 25rem;
    width: 25rem;
    padding-left: 14rem;
  }
}
