.landingPage-wrapper {
  border: solid 1px rgb(99, 65, 95);
  display: grid;
  justify-content: center;
  align-items: center;
  height: 40rem;
  width: 119rem;
}

.landingPage-div-h1 {
  border: solid 1px rgb(105, 170, 210);
}

.mega-div-ul-wrapper {
  border: solid 1px rgb(157, 203, 20);
  display: flex;
  justify-content: center;
  align-items: center;
}

.landingPage-ul {
  border: solid 1px rgb(122, 7, 112);
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  width: 59rem;
  height: 28rem;
}

/* Carousel */
.carousel-root {
  outline: none;
}
.carousel.carousel-slider {
  position: relative;
  margin: 0;
  overflow: hidden;
}
.landingPage-carousel {
  /* display: grid; */
  /* grid-template-columns: 100%; */
  /* grid-template-rows: 90% 10%; */
  /* height: 90%; */
  border: solid 1px rgb(122, 7, 112);
}
.carousel {
  position: relative;
  width: 100%;
  height: 100%;
}
.carousel .control-dots {
  position: absolute;
  bottom: 0;
  margin: 10px 0;
  padding: 0;
  text-align: center;
  width: 100%;
  z-index: 1;
}
.carousel .control-dots .dot {
  transition: opacity 0.25s ease-in;
  opacity: 0.3;
  filter: alpha(opacity=30);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.9);
  background: #fff;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  cursor: pointer;
  display: inline-block;
  margin: 0 8px;
}
.carousel.carousel-slider .control-arrow {
  top: 0;
  color: #fff;
  font-size: 26px;
  bottom: 0;
  margin-top: 0;
  padding: 5px;
}
.carousel .control-prev.control-arrow {
  left: 0;
}
.carousel .control-arrow,
.carousel.carousel-slider .control-arrow {
  transition: all 0.25s ease-in;
  opacity: 0.4;
  filter: alpha(opacity=40);
  position: absolute;
  z-index: 2;
  top: 20px;
  background: none;
  border: 0;
  font-size: 32px;
  cursor: pointer;
}
.carousel .control-arrow {
  outline: 0;
  border: 0;
  background: none;
  top: 50%;
  margin-top: -13px;
  font-size: 18px;
}
.carousel * {
  box-sizing: border-box;
}
.carousel .slider-wrapper {
  overflow: hidden;
  margin: auto;
  width: 100%;
  transition: height 0.15s ease-in;
}
.carousel.carousel-slider .control-arrow {
  top: 0;
  color: #fff;
  font-size: 26px;
  bottom: 0;
  margin-top: 0;
  padding: 5px;
}
.carousel .control-next.control-arrow {
  right: 0;
}
.carousel .control-disabled.control-arrow {
  opacity: 0;
  filter: alpha(opacity=0);
  cursor: inherit;
  display: none;
}
.carousel .slider-wrapper.axis-horizontal .slider {
  -ms-box-orient: horizontal;
  display: -moz-flex;
  display: flex;
  height: 33rem;
  width: 60rem;
}
.thumbs .animated {
  height: 10rem;
}
.carousel {
  position: relative;
  width: 100%;
  height: 100%;
}
/* List Elements */
.item-modal-li-div {
  border: solid 1px black;
  /* height: 16rem; */
}
.item-modal-li {
  border: solid 1px rgb(65, 60, 98);
  height: 100%;
  width: 100%;
}
.coffee-img-carousel {
  background-color: rgba(255, 255, 255, 0);
}
.coffee-div-img {
  height: 2rem;
  width: 2rem;
}
.coffee-div-img button {
  background-color: rgba(255, 255, 255, 0);
  color: rgba(255, 255, 255, 0);
  height: 2rem;
  width: 2rem;
}
.coffee-img {
  border: solid 1px red;
  height: 100%;
  width: 100%;
}
/* .landingPage-cart-div-wrapper {

} */
/* bottom half */
.mega-div-img-wrapper {
  border: solid 1px rgb(9, 85, 109);
  display: grid;
  grid-template-columns: 50% 50%;
  height: 30rem;
  width: 100rem;
}

.mega-div-img-wrapper2 {
  border: solid 1px rgb(8, 164, 144);
  display: grid;
  grid-template-rows: 50% 50%;
  justify-content: center;
  align-items: center;
}

.landingPage-img-div1 {
  border: solid 1px rgb(59, 129, 49);
}

.filler1 {
  border: solid 1px rgb(58, 133, 18);
  height: 10rem;
  width: 40rem;
}

.filler-p1 {
  border: solid 1px rgb(224, 55, 55);
}

.landingPage-img-div1 {
  border: solid 1px rgb(49, 8, 8);
}

.filler2 {
  border: solid 1px rgb(49, 34, 34);
  display: flex;
  justify-self: center;
  align-items: center;
}

.filler2-bg-img {
  border: solid 1px rgb(65, 19, 19);
}

.filler-p2 {
  border: solid 1px rgb(139, 77, 77);
  height: 20rem;
  width: 40rem;
}

/* instructions */

.instructions-form{
  display: grid;
}
