/* TODO Add site wide styles */
/* apply to everything */
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200&display=swap");
* {
  list-style: none;
  text-decoration: none;
  font-family: "Manrope", sans-serif;
  font-weight: bold;
}

.errors {
  color: #ff385c;
}

:root {
  --bg-color: #dc9e82;
  --txt-color: #56667a;
  --modal-bg: #c8c8c8;
  --modal-txt: #997899;
  --button: #7b46ac;
  --errors: red;
}
