/* TODO Add site wide styles */
/* apply to everything */
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200&display=swap");
* {
  list-style: none;
  text-decoration: none;
  color: black;
  font-family: "Manrope", sans-serif;
  font-weight:bold
  /* background-color: #eef1bd; */
}

/* Landing Page */
/* .spots-ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 15rem 15rem 15em 15rem;
  justify-content: center;
  align-items: center;
  row-gap: 1.3rem;
  column-gap: 1.3rem;
  margin: 1%;
  padding: 2%;
}

.spot-list-block {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.tool-tip-text {
  position: absolute;
  visibility:hidden
}

.tool-tip:hover .tool-tip-text {
  visibility: visible;
}

.spot-list {
  list-style: none;
  color: black;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.spot-Link {
  text-decoration: none;
}

.nav-landingPage {
  display: flex;
  justify-content: right;
}

.spot-review-stars {
  display: inline-flex;
  list-style: none;
  align-items: center;
  height: 1.5rem;
}

.spot-review-stars-li {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}
.spot-review-stars-p {
  padding: 0%;
  margin: 0%;
}

.spots-landingPage-img {
  text-decoration: none;
}

img {
  width: 20rem;
  height: 10rem;
  border-radius: 2%;
} */

/* detailed spot

.spot-images-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "a a a b c"
    "a a a c d"
    "a a a c d";
}

.spot-image-1 {
  grid-area: "a";
}
.spot-image-2 {
  grid-area: "b";
}
.spot-image-3 {
  grid-area: "c";
}
.spot-image-4 {
  grid-area: "d";
}
.spot-image-5 {
  grid-area: "e";
} */

/* current spot */

/* .current-ul {
  display: flex;
  justify-content: space-around;
} */

/* Update spot */

.update-inputBox {
  display: flex;
  justify-content: center;
  align-items: center;
  row-gap: 10px;
}

.update-p-title {
  font-size: 1.2rem;
  font-weight: bold;
}

/* create Spot */

.create-inputBox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.create-div-1 {
  display: block;
  justify-content: center;
  align-items: center;
}
.create-div-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.div-2-input {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10px;
  width: 20%;
}

.create-div-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.errors {
  color: #ff385c;
}

.create-div-images {
  display: block;
}
