/* .hidden {
  display: none;
} */

/* navigation */
.nav-list-img {
  height: 10rem;
  width: 8rem;
}
.nav-button {
  display: none;
}
.nav-wrapper {
  display: grid;
  grid-template-columns: 50% 50%;
  height: 10rem;
  padding: 2rem;
  border-bottom: solid 2px black;
  /* background-color: rgba(128, 98, 40, 0.461); */
  background-color: rgba(0, 0, 0, 0);

  margin: 0%;
}

.nav-div-topLeft {
  display: grid;
  grid-template-columns: 10% 45%;
  column-gap: 10%;
  height: 20%;
}
.nav-div-topRight {
  height: 20%;
}
.nav-h1 {
  font-size: 4rem;
}
/* Profile Button */

.nav-topRight-modal {
  display: grid;
  grid-template-columns: 15% 15%;
  column-gap: 10%;
  width: 100%;
  justify-content: end;
  font-size: 2rem;
}
.nav-topRight-label {
  display: flex;
  height: 100%;
  width: 100%;
  border: none;
  justify-self: center;
  align-items: center;
}
.nav-topRight-logged {
  display: flex;
  height: 100%;
  width: 100%;
  border: none;
  font-size: 2rem;
  /* background-color: white; */
  background-color: rgba(255, 255, 255, 0);
  justify-self: center;
  align-items: center;
}
.profile-ul {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10rem;
}
.profile-ul li {
  height: 2.8rem;
}
@media screen and (max-width: 1440px) {
  .nav-wrapper {
    display: grid;
    grid-template-columns: 50% 50%;
    height: 7rem;
    padding: 2rem;
    border-bottom: solid 2px black;
  }
  .nav-div-topLeft {
    display: grid;
    grid-template-columns: 10% 45%;
    column-gap: 10%;
    height: 20%;
  }
  .nav-div-topRight {
    height: 20%;
  }
  .nav-h1 {
    font-size: 2.5rem;
  }
  .nav-list-img {
    height: 7rem;
    width: 5rem;
  }
}
@media screen and (max-width: 1024px) {
  .nav-wrapper {
    display: grid;
    grid-template-columns: 50% 50%;
    height: 8rem;
    padding: 10px 10px 10px 10px;
    border-bottom: solid 2px black;

  }
  .profile-ul {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6rem;
}
  .nav-topRight-modal {
    display: grid;
    grid-template-columns: 36% 36%;
    column-gap: 10%;
    width: 23rem;
    justify-content: end;
    font-size: 2rem;
  }
  .nav-topRight-modal li {
    display: flex;
    width: 23rem;
    font-size: 2.5rem;
  }
  .nav-topRight-logged {
    font-size: 3rem;
  }
  .nav-list-img {
    height: 8rem;
    width: 5rem;
  }
  .nav-div-topLeft {
    display: grid;
    grid-template-columns: 20% 45%;
    column-gap: 10%;
    height: 20%;
  }
  .nav-h1 {
    font-size: 3.1rem;
    font-weight: bolder;
    width: 20rem;
  }
}


/* Index */
.landingPage {
  height: 100%;
  width: 100%;
}
.landingPage-wrapper {
  background: url("https://cdn.discordapp.com/attachments/1088906268485357618/1120508205211070464/41593.jpg")
    no-repeat center center fixed;
  background-size: 90%;
  height: 100rem;
  display: grid;
  grid-template-columns: 100%;
  row-gap: 5%;
}

.item-modal-li {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 12rem;
  width: 12rem;
  /* background-color: blueviolet; */
  border-radius: 50%;
}
.item-modal-li-div button {
  /* background-color: blueviolet; */
  height: 12rem;
  width: 12rem;
  border-radius: 50%;
  border: none;
  font-size: 1.5rem;
  box-shadow: 2px 2px 2px black;
  background-color: rgba(128, 98, 40, 0.461);
  border: solid 1px black;
}
.landingPage-ul {
  display: grid;
  grid-template-columns: 15% 15% 15% 15% 15%;
  row-gap: 2rem;
  column-gap: 5px;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 0%;
}

/* bottom half */
.mega-div-img-wrapper {
  display: grid;
  grid-template-columns: 50% 50%;
}
.mega-div-img-wrapper2 {
  display: grid;
  grid-template-columns: 100%;
  grid-row: 40% 40%;
  row-gap: 5%;
}
.landingPage-img-div1 {
  display: flex;
  align-items: center;
}
.landingPage-img-div2 {
  display: flex;
  align-items: center;
}
.filler1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 19rem;
  width: 100%;
}
.filler2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 98%;
  width: 100%;
}
.filler-p1 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.702);
  height: 80%;
  width: 80%;
  border-radius: 10px;
  box-shadow: 2px 2px 2px black;
}
.filler-p2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.702);
  height: 100%;
  width: 80%;
  border-radius: 10px;
  box-shadow: 2px 2px 2px black;
}
/* Coffee */
.espresso {
  background-image: url("https://cdn.discordapp.com/attachments/1088906268485357618/1120500414014574704/expresso.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.cappuccino {
  background-image: url("https://cdn.discordapp.com/attachments/1088906268485357618/1120500413561569300/cappuccino.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.americano {
  background-image: url("https://cdn.discordapp.com/attachments/1088906268485357618/1121134500613726358/americano.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  object-fit: cover;
}
.latte {
  background-image: url("https://cdn.discordapp.com/attachments/1088906268485357618/1120500413779681340/latte.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.mocha {
  background-image: url("https://cdn.discordapp.com/attachments/1088906268485357618/1120500413335097436/mocha.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.macchiato {
  background-image: url("https://cdn.discordapp.com/attachments/1088906268485357618/1120500437104214067/Macchiato.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.flat {
  background-image: url("https://cdn.discordapp.com/attachments/1088906268485357618/1120500436831580192/flat_white.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.affogato {
  background-image: url("https://cdn.discordapp.com/attachments/1088906268485357618/1120500436575719484/affogato.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.turkish {
  background-image: url("https://cdn.discordapp.com/attachments/1088906268485357618/1120500436210823189/turkish_coffee.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.irish {
  background-image: url("https://cdn.discordapp.com/attachments/1088906268485357618/1120500435900436560/irish_coffee.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.landingPage-coffee-price {
  display: grid;
  justify-content: center;
  align-items: center;
}
/* MODAL */
.landingPage-cart-div-wrapper {
  /* background-color: rgba(128, 98, 40, 0.461); */
  background: url(https://cdn.discordapp.com/attachments/1088906268485357618/1122402397197697044/1390893.jpg)
    no-repeat center center fixed;
  background-size: 90% 100%;
  color: white;
  height: 100%;
  width: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 100%;
  padding: 10px 10px 10px 10px;
}
.landingPage-loggedIn-function {
  display: grid;
  justify-content: center;
  align-items: center;
}
.landingPage-cart-div-quantity-wrapper1 {
  display: grid;
  grid-template-columns: 100%;
  justify-content: center;
  width: 100%;
  align-items: center;
}
.landingPage-cart-div-quantity-wrapper2 {
  display: flex;
  justify-content: center;
  column-gap: 30px;
  align-items: center;
  width: 100%;
}
.landingPage-cart-div-quantity-total {
  display: grid;
  grid-template-columns: 100%;
  justify-content: center;
  align-items: center;
}
.landingPage-cart-div-quantity-update-minus {
  display: grid;
  grid-template-columns: 100%;
  justify-content: center;
  align-items: center;
}
.landingPage-cart-div-quantity-update-plus {
  display: grid;
  grid-template-columns: 100%;
  justify-content: center;
  align-items: center;
}
.landingPage-cart-div-quantity-post {
  display: grid;
  grid-template-columns: 100%;
  justify-content: center;
  align-items: center;
}
.nav-to-coffee {
  text-decoration: underline;
  border: solid 2px white;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 1440px) {
  .landingPage-h1 {
    font-size: 1.7rem;
  }

  .filler-p2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.702);
    height: 80%;
    width: 80%;
    border-radius: 10px;
    box-shadow: 2px 2px 2px black;
  }
  .mega-div-img-wrapper2 {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50% 35%;
    height: 104%;
    row-gap: 10px;
  }
}
@media screen and (max-width: 1024px) {
  .landingPage-wrapper {
    background: url(https://cdn.discordapp.com/attachments/1088906268485357618/1120508205211070464/41593.jpg)
      no-repeat center center fixed;
    /* background-color: rgba(128, 98, 40, 0.461); */
    background-color: rgba(0, 0, 0, 0);
    grid-template-rows: 5%;
    background-size: 90% 80%;
    height: 98rem;
    display: grid;
    grid-template-columns: 100%;
    row-gap: 0%;
  }
  .landingPage-div-h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: url(https://cdn.discordapp.com/attachments/1088906268485357618/1122402397503893544/brown-wooden-frame-tree-boards-background-rustic-wood-texture-wallpaper-2560x1440_51.jpg)
      no-repeat center center fixed;
    background-size: 35% 100%; */
  }
  .landingPage-h1 {
    display: flex;
    justify-self: center;
    align-items: center;
    font-size: 1.2rem;
    height: 80%;
    /* background: url(https://cdn.discordapp.com/attachments/1088906268485357618/1122402397197697044/1390893.jpg)
      no-repeat center center fixed;
    background-size: 180%; */
    width: 25%;
    border-radius: 5px;
    font-family: "Fredericka the Great", cursive;
    color: white;
  }
  .mega-div-ul-wrapper {
    display: flex;
    height: 65%;
  }
  .landingPage-ul {
    display: grid;
    grid-template-columns: 15% 15% 15% 15% 15%;
    row-gap: 2rem;
    column-gap: 5px;
    justify-content: space-evenly;
    align-items: center;
    margin: 12px;
    width: 96%;
    height: 90%;
    padding: 0% 3% 0% 1%;
  }
  .item-modal-li {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
  }
  .item-modal-li-div button {
    background-color: rgba(128, 98, 40, 0.461);
    border: solid 1px black;
    /* background-color: blueviolet; */
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    font-size: 1.5rem;
    color: white;
    box-shadow: 2px 2px 2px black;
  }
  .filler-p1 {
    background: url("https://cdn.discordapp.com/attachments/1088906268485357618/1122402397197697044/1390893.jpg")
      no-repeat center center fixed;
    background-size: 180%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.702);
    height: 67%;
    width: 80%;
    border-radius: 10px;
    box-shadow: 2px 2px 2px black;
    font-size: 1.1rem;
    color: white;
    font-family: "Fredericka the Great", cursive;
    padding: 20px 20px 20px 20px;
    transform: rotate(0turn);
    font-family: "Fredericka the Great", cursive;
  }
  .mega-div-img-wrapper2 {
    display: grid;
    grid-template-columns: 100%;
    height: 122%;
    grid-template-rows: 40% 40%;
    row-gap: 10px;
    padding: 10px 10px 10px 45px;
  }
  .mega-div-img-wrapper {
    display: grid;
    grid-template-columns: 50% 50%;
    background: url("https://cdn.discordapp.com/attachments/1088906268485357618/1122348839509176380/3378164.jpg")
      no-repeat center center fixed;
    background-size: 180%;
  }
  .filler2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 99%;
    width: 100%;
  }
  .filler2-bg-img {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("https://cdn.discordapp.com/attachments/1088906268485357618/1122402397503893544/brown-wooden-frame-tree-boards-background-rustic-wood-texture-wallpaper-2560x1440_51.jpg")
      no-repeat center center fixed;
    background-size: 97% 75%;
    width: 80%;
    height: 80%;
    transform: rotate(0turn);
  }
  .filler-p2 {
    background: url("https://cdn.discordapp.com/attachments/1088906268485357618/1122402397197697044/1390893.jpg")
      no-repeat center center fixed;
    background-size: 180%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.702);
    height: 55%;
    width: 69%;
    border-radius: 10px;
    color: white;
    font-size: 1.1rem;
    box-shadow: 2px 2px 2px black;
    transform: rotate(0turn);
    font-family: "Fredericka the Great", cursive;
    padding: 20px 20px 20px 20px;
  }
  .filler1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(https://cdn.discordapp.com/attachments/1088906268485357618/1122402397503893544/brown-wooden-frame-tree-boards-background-rustic-wood-texture-wallpaper-2560x1440_51.jpg)
      no-repeat center center;
    background-size: 107% 106%;
    width: 108%;
    height: 76%;
    transform: rotate(0turn);
    border-radius: 11px;
  }
}

/* Coffee Detail */

.coffee-detail-wrapper {
    background: url(https://cdn.discordapp.com/attachments/1088906268485357618/1120508205211070464/41593.jpg)
      no-repeat center center fixed;
    background-size: 90% 100%;
    height: 106%;
    display: grid;
    row-gap: 5%;
  }
  .detail-div-container-top {
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 0px 10px 10px 10px;
    height: 48rem;
    background: url(https://cdn.discordapp.com/attachments/1088906268485357618/1122402397197697044/1390893.jpg)
      no-repeat center center fixed;
    background-size: 90% 100%;
  }
  .hail-mary{
    display: grid;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(5, 4, 2); */
  }
  .coffee-detail-button-switch {
    display: grid;
    justify-self: center;
    align-items: center;
    height: 2rem;
  }
  .coffee-detail-div-ul-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .coffee-detail-ul {
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.808);
    height: 90%;
    width: 80%;
    color: white;
    scroll-behavior: auto;
    overflow-y: scroll;
    word-break: break-all;
  }

  /* cart */

  .cart-div {
    display: grid;
    height: 5rem;
    justify-content: center;
    width: 100%;
    align-items: center;
    background: url(https://cdn.discordapp.com/attachments/1088906268485357618/1122402397197697044/1390893.jpg)
      no-repeat center center fixed;
    background-size: 90% 100%;
    color: white;

    /* background-color: rgb(5, 4, 2); */
  }

  .cart-div-quantity-wrapper1 {
    /* background-color: rgb(5, 4, 2); */
  }

  .cart-div-quantity-post {
    /* background-color: rgb(5, 4, 2); */
  }

  .cart-div-quantity-wrapper2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50rem;
    column-gap: 5%;
  }

  .cart-div-quantity-update-minus {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    font-size: 1rem;
    font-weight: bolder;
  }

  .cart-div-quantity-total {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: bolder;
  }

  .cart-div-quantity-update-plus {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    font-size: 1rem;
    font-weight: bolder;
  }
/* Index */
.detail-wrapper {
    display: grid;
    grid-template-columns: 100%;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  .detail-img {
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 15rem; */
    /* width: 15rem; */
    /* border-radius: 50%; */
    /* background-color: rgba(128, 98, 40, 0.461); */
    /* background-color: rgba(5, 4, 2, 0.576); */
  }
  .detail-img p {
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20rem;
    width: 20rem;
    border-radius: 50%;
    /* background-color: rgba(0, 0, 0, 0.494); */
  }
  .detail-div-header {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    /* background-color: rgba(5, 4, 2, 0.576); */
    /* background-color: rgba(128, 98, 40, 0.461); */
  }
  .detail-description {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20rem;
    color: white;
    /* background-color: rgba(5, 4, 2, 0.576); */
    /* width: 90%; */
  }
  .detail-p {
    font-family: "Fredericka the Great", cursive;
    display: flex;
    justify-self: center;
    align-items: center;
    width: 60%;
    height: 5rem;
    font-size: 1.7rem;
  }

  .detail-h1 {
    font-family: "Fredericka the Great", cursive;
    border-bottom: solid 3px white;
    font-size: 2.3rem;
  }
  /* .detail-h2 {
  } */
  .detail-div-component {
    display: grid;
    grid-template-columns: 100%;
    justify-content: center;
    align-items: center;
  }

  /* .component-button2 {
    display: flex;
    justify-content: center;
    align-items: center;
  } */
  /* Detailed item */
  .coffee-detail-wrapper {
  }

  .coffee-detail-button-switch {
  }

  .coffee-detail-ul {
  }
  /* Reviews */

  /* POST */
  .review-post-wrapper {
    display: grid;
    height: 100%;
    justify-content: center;
    align-items: center;
    /* background-color: rgba(128, 98, 40, 0.461); */
    background: url(https://cdn.discordapp.com/attachments/1088906268485357618/1122402397197697044/1390893.jpg)
    no-repeat center center fixed;
  background-size: 90% 100%;
  }
  .review-post-form {
    display: grid;
    height: 90%;
    width: 20rem;
    row-gap: 10px;
  }
  .review-post-input {
    display: grid;
    height: 30%;
    width: 100%;
  }
  .review-post-textarea {
    display: grid;
    height: 10rem;
    width: 100%;
  }
  .review-post-div-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    column-gap: 10px;
  }
  .review-post-div-buttons button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .post-submit {
    border-radius: 70px;
    box-shadow: 2px 1px 3px black;
  }
  .post-submit:hover {
    border-radius: 70px;
    box-shadow: 2px 1px 3px black;
    background-color: rgba(255, 0, 0, 0.719);
  }
  .post-cancel {
    border-radius: 70px;
    box-shadow: 2px 1px 3px black;
  }
  .post-cancel:hover {
    border-radius: 70px;
    background-color: rgba(0, 128, 0, 0.642);
    box-shadow: 2px 1px 3px black;
  }
  .character-counter {
    display: flex;
    justify-content: end;
    font-size: 70%;
  }
  /* UPDATE */

  .review-update-wrapper {
    display: grid;
    height: 100%;
    justify-content: center;
    align-items: center;
    /* background-color: rgba(128, 98, 40, 0.461); */
    background: url(https://cdn.discordapp.com/attachments/1088906268485357618/1122402397197697044/1390893.jpg)
    no-repeat center center fixed;
  background-size: 90% 100%;
  }
  .review-update-form {
    display: grid;
    height: 90%;
    width: 20rem;
    /* row-gap: 10px; */
  }
  .review-update-input {
    display: grid;
    height: 30%;
    width: 100%;
  }
  .review-update-textarea {
    display: grid;
    height: 10rem;
    width: 100%;
  }
  .review-update-div-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    column-gap: 10px;
  }
  .review-update-div-buttons button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  /* DELETEs */
  .delete-Modal-div {
    display: grid;
    grid-template-rows: 50% 10% 10%;
    align-items: center;
    justify-content: center;
    margin: 5%;
    height: 90%;
    /* background-color: rgba(128, 98, 40, 0.461); */
    background: url(https://cdn.discordapp.com/attachments/1088906268485357618/1122402397197697044/1390893.jpg)
    no-repeat center center fixed;
  background-size: 90% 100%;
  }
  .delete-h1 {
    margin: 5%;
  }
  .review-delete-div-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    column-gap: 10px;
  }
  .delete-submit {
    border-radius: 70px;
    height: 2rem;
    width: 4rem;
  }
  .delete-cancel {
    border-radius: 70px;
    height: 2rem;
    width: 4rem;
  }
  .delete-submit:hover {
    border-radius: 70px;
    box-shadow: 2px 1px 3px black;
    background-color: rgba(255, 0, 0, 0.719);
  }

  .delete-cancel:hover {
    border-radius: 70px;
    background-color: rgba(0, 128, 0, 0.642);
    box-shadow: 2px 1px 3px black;
  }
  .cart-div-wrapper {
    /* display: ; */
    width: 100%;
    height: 100%;
    background: url(https://cdn.discordapp.com/attachments/1088906268485357618/1120508205211070464/41593.jpg)
      no-repeat center center fixed;
    background-size: 90% 80%;
    opacity: 100%;
  }
  .cart-bg-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .cart-style-div {
    background-color: rgba(0, 0, 0, 0.713);
    height: 100%;
    width: 57.6rem;
  }
  .cart-h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgba(128, 99, 40, 0);
    margin: 0%;
  }
  .cart-div-ul {
    display: grid;
    grid-template-columns: 100%;
    /* grid-template-rows: 20% 20% 20% 20% 20%; */
    justify-content: center;
    align-items: center;
    /* width: 90%; */
    height: 34rem;
    scroll-behavior: auto;
    overflow-y: scroll;
    overflow-x: hidden;
    word-break: break-all;
  }
  .cart-div-li {
    display: grid;
    grid-template-columns: 23% 23% 13% 23% 13%;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40%;
    padding: 10px;
    color: white;
  }
  .cart-div-quantity-wrapper {
    display: grid;
    grid-template-columns: 20% 20% 20%;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .cart-div-quantity-update {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .cart-div-quantity-total {
    display: flex;
    justify-self: center;
    align-items: center;
  }
  .cart-div-quantity-delete {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .cart-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 6rem;
    color: white;
    background-color: rgba(128, 99, 40, 0);
  }
  .checkout {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
  }

  /* Checkout Modal */
  .checkout-div-wrapper {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-rows: 20% 10% 20%;
    height: 100%;
    width: 100%;
    padding: 10px 10px 10px 10px;
    /* background-color: rgba(141, 70, 4, 0.286); */
    background: url(https://cdn.discordapp.com/attachments/1088906268485357618/1122402397197697044/1390893.jpg)
      no-repeat center center fixed;
    background-size: 90% 100%;
    color: white;
  }
  .checkout-p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
  }
  .checkout-button-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    column-gap: 10px;
  }

  .checkout-button-cancel {
    border-radius: 70px;
    height: 2rem;
    width: 7rem;
  }

  .checkout-button-submit {
    border-radius: 70px;
    height: 2rem;
    width: 7rem;
  }
  .checkout-button-submit:hover {
    border-radius: 70px;
    box-shadow: 2px 1px 3px black;
    background-color: rgba(0, 128, 0, 0.642);
  }

  .checkout-button-cancel:hover {
    border-radius: 70px;
    background-color: rgba(255, 0, 0, 0.719);
    box-shadow: 2px 1px 3px black;
  }
