/* Not Logged IN */
.detail-noUser-div-container-top {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: url("https://freeawsbucket.s3.us-west-1.amazonaws.com/coffee_seeders/4k_coffee_beans.jpg");
  background-size: cover;
  padding: 20px;
}
.detail-noUser-img {
  display: grid;
  justify-content: center;
  align-items: center;
}
.detail-noUser-img img {
  height: 40rem;
  width: 40rem;
  border-radius: 50%;
}
.detail-noUser-div-header {
  display: grid;
  justify-content: center;
  align-items: center;
}
.detail-noUser-h1 {
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 20px;
  color: white;
  background-color: var(--div-color);
  border-radius: 20pt;
}
.detail-noUser-description {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 60rem;
  font-size: 35px;
  padding: 20px;
  color: white;
  background-color: var(--div-color);
  border-radius: 20pt;
}
.detail-noUser-p {
  display: grid;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1440px) {
  .detail-noUser-div-container-top {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .detail-noUser-img {
    display: grid;
    justify-content: center;
    align-items: center;
  }
  .detail-noUser-img img {
    height: 40rem;
    width: 40rem;
    border-radius: 50%;
  }
  .detail-noUser-div-header {
    display: grid;
    justify-content: center;
    align-items: center;
  }
  .detail-noUser-h1 {
    display: grid;
    justify-content: center;
    align-items: center;
  }
  .detail-noUser-description {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 60rem;
    font-size: 35px;
  }
  .detail-noUser-p {
    display: grid;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 1200px) {
  .detail-noUser-div-container-top {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .detail-noUser-img {
    display: grid;
    justify-content: center;
    align-items: center;
  }
  .detail-noUser-img img {
    height: 40rem;
    width: 40rem;
    border-radius: 50%;
  }
  .detail-noUser-div-header {
    display: grid;
    justify-content: center;
    align-items: center;
  }
  .detail-noUser-h1 {
    display: grid;
    justify-content: center;
    align-items: center;
  }
  .detail-noUser-description {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 60rem;
    font-size: 35px;
  }
  .detail-noUser-p {
    display: grid;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 1024px) {
  .detail-noUser-div-container-top {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .detail-noUser-img {
    display: grid;
    justify-content: center;
    align-items: center;
  }
  .detail-noUser-img img {
    height: 40rem;
    width: 40rem;
    border-radius: 50%;
  }
  .detail-noUser-div-header {
    display: grid;
    justify-content: center;
    align-items: center;
  }
  .detail-noUser-h1 {
    display: grid;
    justify-content: center;
    align-items: center;
  }
  .detail-noUser-description {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 60rem;
    font-size: 35px;
  }
  .detail-noUser-p {
    display: grid;
    justify-content: center;
    align-items: center;
  }
}
/* ===================================== */
/* INDEX */
.detail-main-block-wrapper {
  display: grid;
  justify-content: center;
  align-items: center;
  background: url("https://freeawsbucket.s3.us-west-1.amazonaws.com/coffee_seeders/4k_coffee_beans.jpg");
  background-size: cover;
  padding: 20px;
}
.detail-wrapper {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 140rem;
}
.hail-mary {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.detail-div-container-top {
  display: grid;
  justify-self: center;
  align-items: center;
}
.detail-img {
  display: grid;
  justify-self: center;
  align-items: center;
}
.detail-img img {
  height: 40rem;
  width: 40rem;
  border-radius: 50%;
}
.detail-div-header {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.detail-h1 {
  display: grid;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  padding: 10px;
  color: white;
  background-color: var(--div-color);
  border-radius: 20pt;
}
.detail-description {
  display: grid;
  grid-template-columns: 50% 50%;
  justify-content: center;
  align-items: center;
  height: 50rem;
}
.detail-p {
  display: grid;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  padding: 20px;
  color: white;
  background-color: var(--div-color);
  border-radius: 20pt;
}
.detail-div-component {
  display: grid;
  justify-content: center;
  align-items: center;
}
/* ----------------------------------------- */
@media screen and (max-width: 1440px) {
  .detail-main-block-wrapper {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .detail-wrapper {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 140rem;
  }
  .hail-mary {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .detail-div-container-top {
    display: grid;
    justify-self: center;
    align-items: center;
  }
  .detail-img {
    display: grid;
    justify-self: center;
    align-items: center;
  }
  .detail-img img {
    height: 30rem;
    width: 30rem;
    border-radius: 50%;
  }
  .detail-div-header {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .detail-h1 {
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
  }
  .detail-description {
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
  }
  .detail-p {
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
  }
  .detail-div-component {
    display: grid;
    justify-content: center;
    align-items: center;
  }
}
/* ----------------------------------------- */
@media screen and (max-width: 1200px) {
  .detail-main-block-wrapper {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .detail-wrapper {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 140rem;
  }
  .hail-mary {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .detail-div-container-top {
    display: grid;
    justify-self: center;
    align-items: center;
  }
  .detail-img {
    display: grid;
    justify-self: center;
    align-items: center;
  }
  .detail-img img {
    height: 30rem;
    width: 30rem;
    border-radius: 50%;
  }
  .detail-div-header {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .detail-h1 {
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
  }
  .detail-description {
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
  }
  .detail-p {
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
  }
  .detail-div-component {
    display: grid;
    justify-content: center;
    align-items: center;
  }
}
/* ----------------------------------------- */
@media screen and (min-width: 1024px) {
  .detail-main-block-wrapper {
    display: grid;
    justify-content: center;
    align-items: center;
    /* width: 0%; */
  }
  .detail-wrapper {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 60rem;
  }
  .hail-mary {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .detail-div-container-top {
    display: grid;
    justify-self: center;
    align-items: center;
  }
  .detail-img {
    display: grid;
    justify-self: center;
    align-items: center;
  }
  .detail-img img {
    height: 20rem;
    width: 20rem;
    border-radius: 50%;
  }
  .detail-div-header {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .detail-h1 {
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
  }
  .detail-description {
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    height: 35rem;
  }
  .detail-p {
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
  }
  .detail-div-component {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 60rem;
  }
}
@media screen and (max-width: 1023px) {
  .detail-main-block-wrapper {
    display: grid;
    justify-content: center;
    align-items: center;
    /* width: 0%; */
  }
  .detail-wrapper {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 60rem;
  }
  .hail-mary {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .detail-div-container-top {
    display: grid;
    justify-self: center;
    align-items: center;
  }
  .detail-img {
    display: grid;
    justify-self: center;
    align-items: center;
  }
  .detail-img img {
    height: 20rem;
    width: 20rem;
    border-radius: 50%;
  }
  .detail-div-header {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .detail-h1 {
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
  }
  .detail-description {
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    height: 35rem;
  }
  .detail-p {
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
  }
  .detail-div-component {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 60rem;
  }
}
