/* .hidden {
  display: none;
} */

/* navigation */
.nav-list-img {
  height: 10rem;
  width: 8rem;
}
.nav-button {
  display: none;
}
.nav-wrapper {
  display: grid;
  grid-template-columns: 50% 50%;
  height: 10rem;
  padding: 2rem;
  border-bottom: solid 2px black;
}

.nav-div-topLeft {
  display: grid;
  grid-template-columns: 10% 45%;
  column-gap: 10%;
  height: 20%;
}
.nav-div-topRight {
  height: 20%;
}
.nav-h1 {
  font-size: 4rem;
}
/* Profile Button */

.nav-topRight-modal {
  display: grid;
  grid-template-columns: 15% 15%;
  column-gap: 10%;
  width: 100%;
  justify-content: end;
  font-size: 2rem;
}
.nav-topRight-label {
  display: flex;
  height: 100%;
  width: 100%;
  border: none;
  justify-self: center;
  align-items: center;
}
.nav-topRight-logged {
  display: flex;
  height: 100%;
  width: 100%;
  border: none;
  font-size: 2rem;
  background-color: white;
  justify-self: center;
  align-items: center;
}
.profile-ul {
  height: 5rem;
}
.profile-ul li {
  height: 2.8rem;
}
